
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.sub_and_titles{
    font-family: "Mulish", sans-serif;
}
  .parrafos{
    font-family: "Mulish", sans-serif;
  }

  .subtitulo{
    font-family: "Mulish", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  